body {
	min-width: 800px;
	margin: 0;
	
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	
	color: #333333;
	background-color: #f2f2f2;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.main-container {
	width: 1200px;
	margin: 0 auto;

	background-color: #ffffff;
	box-shadow: 0 5px 15px rgba(0, 1, 1, 0.6);
}

.main-container header {
	min-height: 560px;
	margin-bottom: 58px;

	background: url("../img/logo-title.png") no-repeat center center,
				url("../img/site-logo.png") no-repeat center top;
	background-size: 458px 352px,
					 1200px 773px;
}

.main-container.inner-page header {
	min-height: 280px;
	margin-bottom: 40px;

	background: none;
	background: url("../img/hotels-header.png") no-repeat center top;
	background-size: cover;
}

.main-navigation {
	max-height: 56px;
	background-color: #ffffff;
}

.main-navigation ul {
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;

	font-size: 0;

	list-style: none;
}

.main-navigation li {
	padding-top: 16px;

	font-size: 14px;
	line-height: 1.86;
	font-weight: 700;
}

.main-navigation li:nth-of-type(3) {
	padding-top: 0;
}

.main-navigation a {
	text-decoration: none;
	text-transform: uppercase;

	color: #000000;
}

.main-navigation a.active {
	color: #766357;
}

.main-navigation a.active:hover {
	color: #604e43;
}

.main-navigation a.active:active {
	color: rgba(118, 99, 87, 0.3);
}

.main-navigation a:hover {
	color: #81b3d2;
}

.main-navigation a:active {
	color: #b2b2b2;
}

.city-logo {
	width: 138px;
	height: 70px;
	background: url("../img/city-logo.png") no-repeat top center;
}

.inner-page .hotels-filter {
	display: flex;
	margin: 0;
	padding-left: 72px;
}

.hotels-filter .infrastructure,
.hotels-filter .property-type,
.hotels-filter .cost-per-day {
	display: flex;
	width: 240px;	
	padding: 0;
	margin: 0;

	text-transform: uppercase;
	
	color: #ffffff;
	border: none;
}

.hotels-filter .cost-per-day {
	width: 330px;
}

.hotels-filter .property-type {
	margin-right: 240px;
}

.infrastructure legend,
.property-type legend,
.cost-per-day legend {
	padding: 0;
	padding-top: 25px;
	margin: 0;
	margin-bottom: 25px;

	font-size: 16px;
	font-weight: 700;
	line-height: 1.3;

	border: none;
}

.cost-per-day legend {
	margin-bottom: 10px;
}

.cost-per-day .cost {
	position: relative;

	width: 314px;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-bottom: 20px;

	text-transform: uppercase;
	text-align: center;

	border-radius: 5px;
	border: 2px solid #ffffff;
}

.cost::before {
	content: "";
	position: absolute;
	top: 5px;
	padding-bottom: 5px;
	left: 50%;
	
	height: 22px;
	width: 2px;

	background-color: #ffffff;
}

.cost span {
	display: inline-block;

	vertical-align: middle;
}

.cost .cost-from {
	margin-right: 60px;
}

.cost .cost-to {
	margin-left: 50px;
}

.cost-range {
	margin-bottom: 30px;
}

.cost-range .range {
	position: relative;

	width: 314px;
	height: 2px;

	background-image: linear-gradient(to right, #ffffff 86%, #908282 86%, #908282);
}

.range::after,
.range::before {
	content: "";
	position: absolute;

	width: 4px;
	height: 4px;

	border: 10px solid #ffffff;
	border-radius: 50%;
	background-color: #ababab;
	box-shadow: 0 2px rgba(0, 1, 1, 0.14);
}

.range::after {
	top: -10px;
	left: 0;
}

.range::before {
	top: -10px;
	right: 0;
}

.range:hover::before,
.range:hover::after {
	background-color: #1c4f80;
}

.cost-per-day button {
	display: inline-block;
	margin: 0 auto;
	padding: 7px 35px 7px 35px;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;

	color: #ffffff;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 3px;
	outline: none;
	cursor: pointer;
}

.cost-per-day button:hover {
	color: #000000;
	background-color: #ffffff;
}

.infrastructure label,
.property-type label {
	position: relative;
	margin-bottom: 23px;
	padding-left: 40px;

	color: #c1c1c1;

	transition: all 0.5s ease;
}

.infrastructure label:last-of-type,
.property-type label:last-of-type {
	margin-bottom: 0;
}

.infrastructure input[type="checkbox"],
.property-type input[type="checkbox"] {
	display: none;
}

.infrastructure label::before,
.property-type label::before {
	content: "\2610";
	position: absolute;
	left: 0;

	width: 21px;
	height: 21px;

	font-family: "symbols-sedona", sans-serif;
	font-size: 26px;
	line-height: 20px;
	color: #c1c1c1;

	transition: all 0.5s ease;
}

.infrastructure input[type="checkbox"]:checked + label::before,
.property-type input[type="checkbox"]:checked + label::before {
	content: "\2611";
	color: #ffffff;
}

.infrastructure input[type="checkbox"]:checked + label,
.property-type input[type="checkbox"]:checked + label {
	color: #ffffff;
}

.infrastructure input[type="checkbox"]:disabled:checked + label::before,
.property-type input[type="checkbox"]:disabled:checked + label::before {
	content: "\2611";
	color: #6a6a6a;
}

.infrastructure input[type="checkbox"]:disabled + label,
.property-type input[type="checkbox"]:disabled + label {
	color: #6a6a6a;
}

.infrastructure input[type="checkbox"]:disabled + label:hover,
.property-type input[type="checkbox"]:disabled + label:hover {
	color: #6a6a6a;
}

.infrastructure input[type="checkbox"] + label:hover::before,
.property-type input[type="checkbox"] + label:hover::before{
	color: #ffffff;
}

.infrastructure input[type="checkbox"] + label:hover,
.property-type input[type="checkbox"] + label:hover {
	color: #ffffff;
}

.main-content .sort {
	padding-left: 72px;
	padding-right: 72px;
	margin-bottom: 30px;
}

.sort h3,
.sort h4,
.sort .sort-list li,
.sort .sort-direction {
	vertical-align: top;
	text-transform: uppercase;
}

.sort h3 {
	display: inline-block;
	margin: 0;
	margin-right: 48px;

	font-size: 21px;
	font-weight: 700;
	line-height: 1.2;

	color: #000000;
}

.sort h4 {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	margin-right: 40px;

	font-weight: 400;
	font-size: 12px;
	line-height: 1.5;

	color: #000000;
}


.sort .sort-list {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;

	font-size: 0;

	list-style: none;
}

.sort .sort-list li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 33px;

	font-size: 12px;
	line-height: 1.5;

	
}

.sort-list li a {
	text-decoration: none;

	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted #81b3d2;
}

.sort-list li a.active {
	color: #81b3d2;
	border: 0;
}

.sort-list li a.active:active {
	color: #81b3d2;
}

.sort-list li a:hover {
	color: #81b3d2;
}

.sort-list li a:active {
	color: #000000;
	border: none;
}

.sort .sort-direction {
	float: right;
}

.sort-direction .sort-up,
.sort-direction .sort-down {
	display: inline-block;
	width: 0;
	height: 0;

	vertical-align: middle;
	text-decoration: none;
	color: #000000;

	border: 12px solid;
	border-left-width: 6px;
	border-right-width: 6px;
	border-left-color: transparent;
	border-right-color: transparent;
}

.sort-direction .sort-up {
	margin-right: 15px;

	border-top-width: 0;
	border-bottom-color: #cccccc;
}

.sort-direction .sort-down {
	border-bottom-width: 0;
	border-top-color: #cccccc;
}

.sort-direction .sort-up:hover {
	border-bottom-color: #000000;
}

.sort-direction .sort-down:hover {
	border-top-color: #000000;
}

.sort-direction .sort-up:active {
	border-bottom-color: #81b3d2;
}

.sort-direction .sort-down:active {
	border-top-color: #81b3d2;
}

.sort-direction a.active.sort-up {
	border-bottom-color: #81b3d2;
}

.sort-direction a.active.sort-down {
	border-top-color: #81b3d2;
}

.sort-direction a.active.sort-up:hover {
	border-bottom-color: #81b3d2;
}

.sort-direction a.active.sort-down:hover {
	border-top-color: #81b3d2;
}

.main-content .hotels {
	display: flex;
	flex-flow: column wrap;
	
}

.hotels .hotel {
	display: flex;
	width: 1056px;
	padding-left: 72px;
	padding-right: 72px;
	padding-bottom: 30px;
	padding-top: 28px;

	border-bottom: 1px solid #e5e5e5;
}

.hotels .hotel:first-of-type {
	border-top: 1px solid #e5e5e5;
}

.hotel .hotel-description {
	flex-grow: 1;

	text-transform: uppercase;
}

.hotel .hotel-rating {
	flex-basis: 120px;
}

.hotel-description .hotel-photo {
	display: inline-block;
	width: 135px;
	height: 90px;
	margin-right: 30px;

	vertical-align: middle;
}

.hotel-description .description {
	display: inline-block;

	vertical-align: middle;
}

.hotel-description .description a:first-child {
	display: block;
	margin: 0;
	margin-bottom: 10px;

	font-size: 21px;
	font-weight: 700;
	line-height: 1.2;
	vertical-align: top;
	text-decoration: none;

	color: #000000;
}

.hotel-description .description a:first-child:hover {
	color: #81b3d2;
}

.hotel-description .description a:first-child:active {
	color: rgba(0, 0, 0, 0.3);
}

.hotel-description .description span {
	display: inline-block;
	margin-bottom: 16px;
}

.hotel-description .description span:first-of-type {
	margin-right: 40px;
}

.hotel-description .description a.btn {
	display: inline-block;

	vertical-align: middle;
}

.description .btn {
	padding-top: 4px;
	padding-bottom: 4px;

	font-size: 14px;
	font-weight: 700;
	line-height: 1.5;
	text-decoration: none;
	text-align: center
}

.description .btn-blue {
	width: 110px;
	background-color: #81b3d2;
}


.description .btn-blue:hover {
	background-color: #669ec0;
}

.description .btn-blue:active {
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3);
}

.description .btn.btn-brown {
	width: 140px;
}

.hotel-rating {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.rating-stars {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 47px;
}

.hotel .hotel-rating .icon-star {
	display: inline-block;

	font-size: 21px;
	line-height: 1.2;
	
	color: #81b3d2;
}

.hotel-rating .rating {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;

	text-transform: uppercase;
	text-align: center;

	color: #666666;
	background-color: #f2f2f2;
}

.main-title {
	margin-bottom: 55px;
	text-align: center;
	text-transform: uppercase;
}

.main-title h2 {
	margin: 0;
	margin-bottom: 31px;

	font-size: 21px;
	font-weight: 700;
	line-height: 1.24;
	
	color: #000000;
}

.main-title p {
	margin: 0;
}

.first-cause {
	display: flex;
	
	text-align: center;
	text-transform: uppercase;

	color: #ffffff;
}

.first-cause .cause-title {
	width: 33%;
	padding-top: 54px;
	padding-bottom: 44px;

	background-color: #81b3d2;
}

.cause-title h3 {
	margin: 0;
	margin-bottom: 17px;

	font-size: 21px;
	font-weight: 700;
	line-height: 1.3;
}

.cause-title span {
	display: block;
	margin-bottom: 24px;
}

.cause-title p {
	margin: 0;
}

.first-cause img {
	width: 67%;
}

.services {
	display: flex;
	justify-content: space-around;
	margin-bottom: 72px;

	text-transform: uppercase;
	text-align: center;

	color: #000000;
}

.services .housing {
	width: 400px;
	padding-top: 100px;
	margin-top: 60px;

	background: url("../img/housing.png") no-repeat top center;
}

.services .food {	
	width: 400px;
	padding-top: 100px;
	margin-top: 60px;

	background: url("../img/food.png") no-repeat top center;
}

.services .souvenirs {
	width: 400px;
	padding-top: 108px;
	margin-top: 56px;

	background: url("../img/souvenirs.png") no-repeat top center;
}

.services h3 {
	margin: 0;
	margin-bottom: 25px;

	font-size: 21px;
	font-weight: 700;
	line-height: 27px;
}

.services p {
	margin: 0;

	color: #333333;
}

.second-cause {
	display: flex;
	flex-direction: row-reverse;

	text-align: center;
	text-transform: uppercase;

	color: #ffffff;
}

.second-cause img {
	width: 800px;
	height: 256px;
}

.second-cause .cause-title {
	width: 400px;
	padding-top: 55px;
	padding-bottom: 43px;

	background-color: #81b3d2;
}

.last-causes {
	display: flex;
	justify-content: space-around;

	margin-bottom: 54px;
	padding-top: 50px;
	padding-bottom: 60px;

	text-align: center;
	text-transform: uppercase;

	background-color: #eeeeee;
}

.last-causes h3 {
	margin: 0;
	margin-bottom: 22px;

	font-size: 21px;
	font-weight: 700;
	line-height: 1.3;

	color: #000000;
}

.last-causes span {
	display: block;
	margin-bottom: 22px;
}

.last-causes p {
	margin: 0;
}

.last-causes .fourth-cause {
	width: 400px;	
}

.last-causes .fifth-cause {
	width: 400px;	
}

.last-causes .sixth-cause {
	width: 400px;	
}

.find-hotel {
	text-align: center;
	text-transform: uppercase;
}

.find-hotel h2 {
	margin: 0;
	margin-bottom: 30px;

	font-size: 30px;
	font-weight: 700;
	line-height: 1.3;

	color: #000000;
}

.find-hotel p {
	margin: 0;
	margin-bottom: 50px;
}

.btn {
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 48%;
	padding-top: 32px;
	padding-bottom: 32px;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 21px;
	font-weight: 700;
	line-height: 1.2;
	text-transform: uppercase;
	vertical-align: top;
	text-align: center;

	color: #ffffff;
	background-color: #766357;
	outline: none;
	border: 0;
	cursor: pointer;
}

.btn:hover {
	background-color: #604e43;
}

.btn:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.map-wrap {
	position: relative;
}

.map {
	height: 593px;
	width: 100%;

	background: url("../img/map.png") no-repeat;
}

.main-footer {
	position: absolute;
	bottom: 0;
	left: 0;

	display: flex;
	justify-content: space-around;
	width: 100%;

	background-color: rgba(255, 255, 255, 0.9);
}

.main-footer.inner-page {
	position: static;
}

.main-footer .promo-block {
	padding-left: 130px;
	padding-top: 48px;
	padding-bottom: 50px;
}

.promo-block span {
	font-size: 21px;
	font-weight: 700;
	line-height: 1.2;
	text-transform: uppercase;

	color: #000000;
}

.main-footer .social {
	width: 400px;
	padding-left: 256px;
	padding-top: 36px;
	padding-bottom: 36px;
	margin-right: 170px;

	font-size: 0;
}

.social-btn {
	display: inline-block;
	width: 46px;
	min-height: 48px;
	margin-right: 6px;

	font-size: 21px;
	font-weight: 700;
	line-height: 1.2;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;

	color: #ffffff;
	background: #81b3d2 url("../img/sprites.png") no-repeat;
}

.social-btn-tw {
	background-position: 15px 15px;
}

.social-btn-fb {
	background-position: 18px -87px;
}

.social-btn-you {
	background-position: 14px -35px;
	margin-right: 0;
}

.social-btn:hover {
	background-color: #669ec0;
}

.social-btn:active {
	background: #5496bd url("../img/sprites-opacity.png") no-repeat;
}

.social-btn-tw:active {
	background-position: 15px 15px;
}

.social-btn-fb:active {
	background-position: 18px -107px;
}

.social-btn-you:active {
	background-position: 14px -45px;
}

.main-footer .copyrights {
	width: 400px;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-right: 72px;
}

.copyrights span {
	display: inline-block;
	padding-right: 8px;

	text-align: left;

	font-size: 14px;
	font-weight: 400;
	line-height: 1.2;
	text-transform: uppercase;
	vertical-align: middle;
}

.logo {
	display: inline-block;
	width: 113px;
	height: 39px;
	vertical-align: middle;

	background: url("../img/logo.png") no-repeat;
}

.logo:hover {
	background: url("../img/logo-hover.png") no-repeat;
}

.logo:active {
	background: url("../img/logo-active.png") no-repeat;
}